<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wucstone.ssm.mapper.UserMapper" >
  	<insert id="insertUserInfo"  parameterType="java.util.Map" >
          insert into t_user (userName,userAge,userAddr) values 
    	   (#{userName,jdbcType=VARCHAR},
            #{userAge,jdbcType=INTEGER},
            #{userAddr,jdbcType=VARCHAR})
    </insert>
    
    <select id="getUserListByParams" resultType="java.util.Map">
    	select userName,userAge,userAddr from t_user
    </select>
    <select id="getUserCountByParams" resultType="int">
    	select count(1) as total from t_user
    </select>
    
</mapper>