<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:util="http://www.springframework.org/schema/util" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:cache="http://www.springframework.org/schema/cache"  
    xsi:schemaLocation="  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">  
  
  
    <!--启用注解，设置自动扫描包 ,将带有注解的类 纳入spring容器管理 -->  
    <context:annotation-config/> 
    <context:component-scan base-package="com.wucstone.ssm.*" />  
<!--     <import resource="classpath:mybatis-config.xml"/> -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
    	<property name="url" value="jdbc:mysql://localhost:3306/wucstone" />
    	<property name="username" value="root" />
    	<property name="password" value="root" />
    	<property name="initialSize" value="10" />
    	<property name="maxActive" value="15" />
    	<property name="minIdle" value="5" />
    </bean>
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<property name="dataSource" ref="dataSource" />
    </bean>
<!--     <tx:annotation-driven transaction-manager="txManager" /> -->
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="configLocation" value="classpath:mybatis-config.xml" />
<!--     	<property name="mapperLocations" value="com/wucstone/*.xml" /> -->
    </bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>
    
<!--     <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">   -->
<!-- 	     <property name="mapperInterface" value="com.springMyBatis.system.dao.UserDao"></property>   -->
<!-- 	     <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>   -->
<!-- 	</bean>   -->
    
    
    
<!--     <context:property-placeholder location="classpath:zoo.properties"/> -->
</beans>  